<div>
  {%- capture herodata -%}
    {
      "image": "{{ section.settings.image | img_url }}",
      "mobileImage": "{{ section.settings.mobile_image | img_url }}",
      "color": "{{ section.settings.color | escape }}",
      "text_alignment": "{{ section.settings.text_alignment | escape }}",
      "title": "{{ section.settings.title | escape }}",
      "copy": "{{ section.settings.copy | escape }}",
      "cta_text": "{{ section.settings.cta_text | escape }}",
      "cta_url": "{{ section.settings.cta_url | escape }}",
    }
  {%- endcapture -%}

  <hero-component :herodata="{{ herodata | escape }}"></hero-component>
</div>


{% schema %}

{
  "name": "Hero Section",
  "class": "hero-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }, {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    }, {
      "type": "color",
      "id": "color",
      "label": "Color Picker"
    }, {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        }, {
          "value": "center",
          "label": "Center"
        }, {
          "value": "right",
          "label": "Right"
        }
      ]
    }, {
      "type": "text",
      "id": "title",
      "label": "Title"
    }, {
      "type": "textarea",
      "id": "copy",
      "label": "Copy"
    }, {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    }, {
      "type": "url",
      "id": "cta_url",
      "label": "CTA Url"
    }
  ],
  "presets": [
    {
      "name": "Hero Component",
      "category": "Custom"
    }
  ]
}

{% endschema %}
