<template lang="pug">
section.container-fluid
  .hero__section(:style="background")
    .hero__desc(:class="herodata.text_alignment")
      h2 {{ herodata.title }}
      p {{ herodata.copy }}

      a.hero__button(:href="herodata.cta_url")
        span {{ herodata.cta_text }}
</template>

<script>
export default {
  name: "HeroComponent",
  components: {},
  props: {
    herodata: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      windowWidth: window.innerWidth,
      background_image: "",
    };
  },
  created() {
    window.addEventListener("resize", this.onResize);
  },
  computed: {
    background() {
      if (this.windowWidth > 600)
        return {
          "background-image": `url(${this.herodata.image})`,
        };
      else
        return {
          "background-image": `url(${this.herodata.mobileImage})`,
        };
    },
  },
  methods: {
    onResize() {
      this.windowWidth = window.innerWidth;
    },
  },
};
</script>

<style scoped lang="scss">
@font-face {
  font-family: Roboto-Bold;
  src: url("https://cdn.shopify.com/s/files/1/0549/3961/5431/files/Roboto-Bold.ttf?v=1614356283")
    format("ttf");
}

@font-face {
  font-family: Roboto-Light;
  src: url("https://cdn.shopify.com/s/files/1/0549/3961/5431/files/Roboto-Light.ttf?v=1614356283")
    format("ttf");
}

.hero__section {
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;

  .hero__desc {
    text-align: center;

    @media (min-width: 600px) {
      &.left {
        text-align: left;
        width: 50%;
      }

      &.right {
        text-align: left;
        width: 50%;
        margin-left: auto;
      }
    }

    @media (max-width: 600px) {
      padding: 100px 40px;
    }

    h2 {
      font-size: 46px;
      color: #fff;
      font-family: Roboto-Bold;
      font-weight: 300;
      margin-bottom: 0;

      @media (max-width: 600px) {
        font-size: 36px;
      }
    }

    p {
      color: #fff;
      font-family: Roboto-Light;
      font-weight: 300;
      font-size: 24px;

      @media (max-width: 600px) {
        font-size: 18px;
      }
    }

    .hero__button {
      display: inline-block;
      border-radius: 50px;
      padding: 10px 30px;
      font-family: Roboto-Light;
      font-weight: 300;
      background-color: #57ad68;
      color: #fff;
      text-decoration: none;
      font-size: 20px;

      &:hover {
        color: #57ad68;
        background-color: white;
      }
    }
  }
}
</style>
